<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Alerts e.g. approaching your limit</title>
    <link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="alert alert-good">
{{ subject|raw }}
                        </td>
                    </tr>
                    <tr>
                        <td class="content-wrap">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-block">
                                        {{ name }}  <strong> </strong> 
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                       {{ body|raw }}
                                    </td>
                                </tr>
                                <tr>
                                    
                                </tr>
                                <tr>
                                    <td class="content-block">
Signature
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr> <td> <table role="presentation" style="background-color:#edf0f3;padding-top:16px;color:#000000;text-align:left" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#EDF0F3" align="left"> <tbody> <tr> <td> <table width="24" cellspacing="0" cellpadding="1" border="0"> <tbody> <tr> <td> <div style="height:0px;font-size:0px;line-height:0px"> &nbsp; </div></td> </tr> </tbody> </table></td> <td> <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0"> <tbody> <tr> <td style="text-align:center" align="center"> <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" align="center"> <tbody> <tr> <td style="padding:0 0 16px 0;vertical-align:middle;text-align:center" valign="middle" align="center"><a href=""  target="_blank" >Unsubscribe</span></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    
                    
                    <a href=""   style="color:#6a6c6d!important;text-decoration:underline;display:inline-block"   <span style="color:#0a66c2;font-weight:400;font-size:12px;line-height:1.333">Help</span></a></td> </tr> </tbody> </table></td> </tr> <tr> <td> <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0"> <tbody> <tr> <td style="padding:0;color:#6a6c6d;text-align:center" align="center"> <p style="margin:0;color:#6a6c6d;font-weight:400;font-size:12px;line-height:1.333">You are receiving Professional Identity Digest emails.
                    
                     <a href="www.ju.edu.et" style="text-decoration:none">Learn why we included this.</a>
                     
                    </p></td> </tr> <tr>
                     <td> <table width="1" cellspacing="0" cellpadding="1" border="0"> <tbody> <tr> <td> <div style="height:12px;font-size:12px;line-height:12px"> &nbsp; 
                     </div>
                     </td>
                      </tr> 
                     
                     </tbody> 
                     </table></td> </tr> <tr> <td style="padding:0;color:#6a6c6d;text-align:center" align="center"> <p style="margin:0;word-wrap:break-word;color:#6a6c6d;word-break:break-word;font-weight:400;font-size:12px;line-height:1.333">This email was intended for {{ name}}. <a href="   ">Learn why we included this.</a></p></td> </tr> <tr> <td> <table width="1" cellspacing="0" cellpadding="1" border="0"> <tbody> <tr> <td> <div style="height:12px;font-size:12px;line-height:12px"> &nbsp; </div></td> </tr>
 </tbody> </table></td> </tr> <tr> <td style="padding:0;text-align:center" align="center">
<a href=""  class="CToWUd" width="56" height="14" border="0"></a>
</td> </tr> <tr> <td> <table width="1" cellspacing="0" cellpadding="1" border="0"> <tbody> <tr> 
<td> <div style="height:8px;font-size:8px;line-height:8px"> &nbsp; </div></td> </tr> </tbody> 
</table></td> </tr> 
<tr> <td style="padding:0;color:#6a6c6d;text-align:center" align="center"> <p style="margin:0;color:#6a6c6d;font-weight:400;font-size:12px;line-height:1.333">© 2021 Jimma University Research, All rights researved.<br> Jimma, Oromia, Ethiopia, 
                    
                    
                    </p></td> </tr> <tr> <td> <table width="1" cellspacing="0" cellpadding="1" border="0"> <tbody> <tr> <td> <div style="height:24px;font-size:24px;line-height:24px"> &nbsp; </div></td> </tr> </tbody> </table></td> </tr> </tbody> </table></td> </tr> </tbody> </table></td> <td> <table width="24" cellspacing="0" cellpadding="1" border="0"> <tbody> <tr> <td> <div style="height:0px;font-size:0px;line-height:0px"> &nbsp; </div></td> </tr> </tbody> </table></td> </tr> </tbody> </table></td> </tr>
                </table>
                 </div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>
